@model IEnumerable<RSSproject.Models.MainCollection>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<br />


<h3>Subscribes:</h3>

@foreach (var item in Model)
{
    <div class="dropdown show">
        <button class="col btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @item.Name
        </button>
        <p></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var res in item.MainResources)
            {
                @Html.ActionLink(@res.ResourceName, "Resource", new { RSSURL = @res.URL, RSSName = @res.ResourceName.ToString() })
                <br />
            }
        </div>
    </div>
}