@model IEnumerable<RSSproject.Models.MainCollection>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<br />


<h3>Коллекции:</h3>

<br />

@foreach (var item in Model)
{
    <div class="btn-group dropright">
        <button class="col btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @item.Name
        </button>

        <div class="dropdown-menu">
            @foreach (var res in item.MainResources)
            {
                <div class="col dropdown-item">
                    @Html.ActionLink(@res.ResourceName, "Resource", new { RSSURL = @res.URL, RSSName = @res.ResourceName.ToString() })
                </div>
            }
        </div>

    </div>
    <p></p>
}