@model IEnumerable<RSSproject.Models.MainCollection>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<br />


<h3>Subscribes:</h3>

@foreach (var item in Model)
{
    <div class="dropdown show">
        <button class="col btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @item.Name
        </button>
        <p></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var res in item.MainResources)
            {
                <a class="dropdown-item" href="#">@res.URL</a>
                <br />
            }
        </div>
    </div>
}



<!--
<table class="table table-dark">
    <tr>
        <th>Collectoin name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
-->
